{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2 class="mt-4">User Details</h2>
    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            {% for det in user_details %}
            <tr>
                <td>{{ det.name }}</td>
                <td>{{ det.age }}</td>
                <td>{{ det.date_of_birth }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
